On-call-TeamsNotificationAgent-LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Security Copilot Agent Write-Back with Teams Adaptive Card",
        "description": "Receives investigation output from a Security Copilot custom agent, writes the full report to the Sentinel incident comment, fetches incident metadata, and posts a structured adaptive card to a Teams channel when the verdict is True Positive or Suspicious. Deploy this alongside Part 2's trigger playbook for full automation.",
        "author": "Rohitashokgowd",
        "source": "https://github.com/rohit8096-ag/SecurityCopilot"
    },
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "SecCopilot-AddIncidentComment",
            "metadata": {
                "description": "Name of the Logic App resource."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Azure region for the Logic App deployment."
            }
        }
    },
    "variables": {
        "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "azureSentinelGetIncidentConnectionName": "[concat('azuresentinel-getincident-', parameters('PlaybookName'))]",
        "teamsConnectionName": "[concat('teams-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureSentinelConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('azureSentinelConnectionName')]",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
                },
                "parameterValueType": "Alternative",
                "customParameterValues": {}
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureSentinelGetIncidentConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('azureSentinelGetIncidentConnectionName')]",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
                },
                "parameterValueType": "Alternative",
                "customParameterValues": {}
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('teamsConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[variables('teamsConnectionName')]",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
                },
                "customParameterValues": {}
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('azureSentinelGetIncidentConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "IncidentArmId": {
                                            "type": "string"
                                        },
                                        "CommentBody": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "IncidentArmId",
                                        "CommentBody"
                                    ]
                                }
                            }
                        }
                    },
                    "actions": {
                        "Prepare_Comment": {
                            "type": "Compose",
                            "description": "Guards against the ~30K character limit on Sentinel incident comments.",
                            "inputs": "@if(greater(length(triggerBody()?['CommentBody']), 28000), concat(substring(triggerBody()?['CommentBody'], 0, 28000), ' ... [TRUNCATED - full report available in Security Copilot agent run history]'), triggerBody()?['CommentBody'])",
                            "runAfter": {}
                        },
                        "Format_Comment_HTML": {
                            "type": "Compose",
                            "description": "Converts newlines to <br> so the agent report renders with line breaks in the Sentinel/XDR comment pane.",
                            "inputs": "@concat('<p><b>[Security Copilot Agent Investigation]</b><br><br>', replace(string(outputs('Prepare_Comment')), decodeUriComponent('%0A'), '<br>'), '</p>')",
                            "runAfter": {
                                "Prepare_Comment": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Add_comment_to_incident_V3": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['IncidentArmId']",
                                    "message": "@{outputs('Format_Comment_HTML')}"
                                },
                                "path": "/Incidents/Comment"
                            },
                            "runAfter": {
                                "Format_Comment_HTML": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Get_incident": {
                            "type": "ApiConnection",
                            "description": "Fetches incident metadata (title, severity, status, alert count) using the Sentinel connector.",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-getincident']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['IncidentArmId']"
                                },
                                "path": "/Incidents"
                            },
                            "runAfter": {
                                "Add_comment_to_incident_V3": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Build_Sentinel_Link": {
                            "type": "Compose",
                            "description": "Constructs the direct portal link to the incident in Sentinel.",
                            "inputs": "@concat('https://portal.azure.com/#asset/Microsoft_Azure_Security_Insights/Incident', triggerBody()?['IncidentArmId'])",
                            "runAfter": {
                                "Get_incident": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Prepare_Card_Summary": {
                            "type": "Compose",
                            "description": "Truncates the investigation output for the card body (cards have a ~28KB limit, keep it readable).",
                            "inputs": "@if(greater(length(triggerBody()?['CommentBody']), 2000), concat(substring(triggerBody()?['CommentBody'], 0, 2000), '\n\n⚠️ Summary truncated — full report in incident comments.'), triggerBody()?['CommentBody'])",
                            "runAfter": {
                                "Build_Sentinel_Link": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Condition": {
                            "type": "If",
                            "expression": {
                                "or": [
                                    {
                                        "contains": [
                                            "@triggerBody()?['CommentBody']",
                                            "True Positive"
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Set_Card_Severity_Color": {
                                    "type": "Compose",
                                    "description": "Red emoji for True Positive, amber for Suspicious.",
                                    "inputs": "@if(contains(triggerBody()?['CommentBody'], 'True Positive'), '🔴 TRUE POSITIVE — Malicious Activity Confirmed', '🟡 SUSPICIOUS — Requires Further Analysis')"
                                },
                                "Set_Card_Style": {
                                    "type": "Compose",
                                    "description": "Adaptive card container style based on verdict.",
                                    "inputs": "@if(contains(triggerBody()?['CommentBody'], 'True Positive'), 'attention', 'warning')",
                                    "runAfter": {
                                        "Set_Card_Severity_Color": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Build_Adaptive_Card": {
                                    "type": "Compose",
                                    "description": "Builds the adaptive card as a JSON object so dynamic content is serialized safely — no escaping issues with newlines or quotes in the agent output.",
                                    "inputs": {
                                        "type": "AdaptiveCard",
                                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                        "version": "1.4",
                                        "body": [
                                            {
                                                "type": "Container",
                                                "style": "@{outputs('Set_Card_Style')}",
                                                "bleed": true,
                                                "items": [
                                                    {
                                                        "type": "TextBlock",
                                                        "text": "@{outputs('Set_Card_Severity_Color')}",
                                                        "weight": "Bolder",
                                                        "size": "Large"
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "FactSet",
                                                "separator": true,
                                                "facts": [
                                                    {
                                                        "title": "📋 Incident ID",
                                                        "value": "@{body('Get_Incident')?['properties']?['incidentNumber']}"
                                                    },
                                                    {
                                                        "title": "📌 Title",
                                                        "value": "@{body('Get_Incident')?['properties']?['title']}"
                                                    },
                                                    {
                                                        "title": "⚠️ Severity",
                                                        "value": "@{body('Get_Incident')?['properties']?['severity']}"
                                                    },
                                                    {
                                                        "title": "📊 Status",
                                                        "value": "@{body('Get_Incident')?['properties']?['status']}"
                                                    },
                                                    {
                                                        "title": "🕐 Created",
                                                        "value": "@{formatDateTime(body('Get_Incident')?['properties']?['createdTimeUtc'], 'dd MMM yyyy HH:mm UTC')}"
                                                    },
                                                    {
                                                        "title": "🔔 Alert Count",
                                                        "value": "@{body('Get_Incident')?['properties']?['additionalData']?['alertsCount']}"
                                                    }
                                                ]
                                            },
                                            {
                                                "type": "TextBlock",
                                                "text": "🔍 Agent Investigation Summary",
                                                "weight": "Bolder",
                                                "spacing": "Medium",
                                                "separator": true,
                                                "size": "Medium"
                                            },
                                            {
                                                "type": "TextBlock",
                                                "text": "@{outputs('Prepare_Card_Summary')}",
                                                "wrap": true,
                                                "spacing": "Small"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "type": "Action.OpenUrl",
                                                "title": "🔗 Open in Sentinel",
                                                "url": "@{outputs('Build_Sentinel_Link')}"
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Set_Card_Style": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Post_Adaptive_Card_in_SOC_Channel": {
                                    "type": "ApiConnection",
                                    "description": "Posts the investigation card to the SOC Teams channel. After deployment, open this action in the designer and select your Team and Channel from the dropdown.",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "recipient": "REPLACE_WITH_YOUR_TEAMS_CHANNEL_OR_GROUP_CHAT_ID",
                                            "messageBody": "@{outputs('Build_Adaptive_Card')}",
                                            "importance": "high"
                                        },
                                        "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}",
                                        "queries": {
                                            "isAlert": true
                                        }
                                    },
                                    "runAfter": {
                                        "Build_Adaptive_Card": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "else": {
                                "actions": {}
                            },
                            "runAfter": {
                                "Prepare_Card_Summary": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Response_Success": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "Status": "Success",
                                    "Message": "Investigation report successfully added as a comment to the incident.",
                                    "IncidentArmId": "@triggerBody()?['IncidentArmId']",
                                    "TeamsCardPosted": "@if(or(contains(triggerBody()?['CommentBody'], 'True Positive'), contains(triggerBody()?['CommentBody'], 'Suspicious')), true, false)"
                                }
                            },
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Response_Failure": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 500,
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "Status": "Failed",
                                    "Message": "Failed to add comment to the incident. Verify the IncidentArmId is valid and the Logic App managed identity holds Microsoft Sentinel Responder on the workspace.",
                                    "Error": "@{coalesce(actions('Add_comment_to_incident_V3')?['error'], actions('Post_Adaptive_Card_in_SOC_Channel')?['error'], 'Unknown error')}"
                                }
                            },
                            "runAfter": {
                                "Condition": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            }
                        }
                    },
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "type": "Object",
                            "defaultValue": {}
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                                "connectionName": "[variables('azureSentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel-getincident": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelGetIncidentConnectionName'))]",
                                "connectionName": "[variables('azureSentinelGetIncidentConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "teams": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]",
                                "connectionName": "[variables('teamsConnectionName')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppName": {
            "type": "string",
            "value": "[parameters('PlaybookName')]"
        },
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        },
        "webhookUri": {
            "type": "string",
            "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('PlaybookName'), 'manual'), '2017-07-01').value]"
        }
    }
}
