SecCopilot-AddIncidentComment-azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SecCopilot-AddIncidentComment",
    "description": "Write-back Logic App invoked as a Security Copilot LogicApp skill. Accepts IncidentArmId and CommentBody via HTTP Request trigger and adds the comment to the Sentinel incident (syncs to Defender XDR). Uses system-assigned managed identity for the Sentinel connection.",
    "author": "@rohit8096-ag",
    "postDeployment": [
      "1. Grant the Logic App's system-assigned managed identity the 'Microsoft Sentinel Responder' role on the Sentinel workspace (or its resource group).",
      "2. Grant the Security Copilot agent run identity 'Logic App Contributor' role scoped to this Logic App resource.",
      "3. Update the skillset YAML Settings with this subscription ID, resource group, workflow name, and TriggerName 'manual'."
    ]
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "SecCopilot-AddIncidentComment",
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App. Must match WorkflowName in the skillset YAML."
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "IncidentArmId": {
                      "type": "string"
                    },
                    "CommentBody": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "IncidentArmId",
                    "CommentBody"
                  ]
                }
              }
            }
          },
          "actions": {
            "Prepare_Comment": {
              "type": "Compose",
              "runAfter": {},
              "inputs": "@if(greater(length(triggerBody()?['CommentBody']), 28000), concat(substring(triggerBody()?['CommentBody'], 0, 28000), ' ... [TRUNCATED - full report available in Security Copilot agent run history]'), triggerBody()?['CommentBody'])",
              "description": "Guards against the ~30K character limit on Sentinel incident comments."
            },
            "Format_Comment_HTML": {
              "type": "Compose",
              "runAfter": {
                "Prepare_Comment": [
                  "Succeeded"
                ]
              },
              "inputs": "@concat('<p><b>[Security Copilot Agent Investigation]</b><br><br>', replace(string(outputs('Prepare_Comment')), decodeUriComponent('%0A'), '<br>'), '</p>')",
              "description": "Converts newlines to <br> so the agent report renders with line breaks in the Sentinel/XDR comment pane."
            },
            "Add_comment_to_incident_V3": {
              "type": "ApiConnection",
              "runAfter": {
                "Format_Comment_HTML": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment",
                "body": {
                  "incidentArmId": "@triggerBody()?['IncidentArmId']",
                  "message": "@{outputs('Format_Comment_HTML')}"
                }
              }
            },
            "Response_Success": {
              "type": "Response",
              "kind": "Http",
              "runAfter": {
                "Add_comment_to_incident_V3": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "Status": "Success",
                  "Message": "Investigation report successfully added as a comment to the incident.",
                  "IncidentArmId": "@triggerBody()?['IncidentArmId']"
                }
              }
            },
            "Response_Failure": {
              "type": "Response",
              "kind": "Http",
              "runAfter": {
                "Add_comment_to_incident_V3": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "inputs": {
                "statusCode": 500,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "Status": "Failed",
                  "Message": "Failed to add comment to the incident. Verify the IncidentArmId is valid and the Logic App managed identity holds Microsoft Sentinel Responder on the workspace.",
                  "Error": "@{actions('Add_comment_to_incident_V3')?['error']}"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}
